body {
  margin-top: 60px;
}

.jumbotron h1 {
  font-family: Roboto, sans-serif;
  font-size: 80px;
}



h2 {
  font-family: Roboto, sans-serif;
}


img { 
    max-width: 100%; 
    height: auto; 
    padding: 10px 10px 10px 10px;
}

#fact {
  margin-left: 20px;
}

#films {
  margin-left: 20px;
  font-size: 15pt;
}

.thumbnail {
  margin-top: 30px;
}

.filmography {
  margin: 30px 0px 30px 0px;
}
